
.blogCard {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    background-color: #e4d8d88a;
  }
  .blogCard img {
    width: 350px;
    height: 170px;
    border-radius: 4px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-wrap: nowrap;
    align-content: center;
    margin-left: 50px;
    align-items: center;

  }
  

  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 14px;
    color: #777;
  }
  
  .card-content {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .card-date {
    font-size: 12px;
    color: #888;
  }
  
  .btn-outline-success {
    color: #28a745;
    border-color: #28a745;
  }
  
  .pagination-controls {
    margin-top: 20px;
  }
  
  .aboutHead {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .aboutUs {
    font-size: 14px;
    color: #555;
  }
  
  
  .mat-tab-group {
    /* background-color: #fff; */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .ps-4{
    margin-left: 20px;
  }

 .contain{
    background-image: url('hi.jpg');
  
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mx-3{
    background-color: #ccc;
  }


.author-list-container {
  background-color: #f3efe75c;
  box-shadow: 0 0 10px rgba(95, 6, 6, 0.2);
}

.col-md-2 {
  padding: 20px;
  border-radius: 10px 2px 2px;
}

p {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #333;
  margin-left: 8px;
}

a:hover {
  color: #007bff;
}
