<div class="header">
  
  <div>
    <button  class="btn my-btn" style="position: absolute; right: 20px; top: 20px;background-color: #033006d1; border-radius: 15px;" (click)="logout()"
          >Logout</button>
  </div>
  <div class="contact-address" style="font-family: sans-serif;">
    <p>website: <a style="    color: #fd0d49;
      text-decoration: wavy;" href="https://cea.ac.in/">cea</a>
    </p>
    <p>Contact: <a style="    color: #fd0d49;
      text-decoration: wavy;" href="mailto: hre@ihrd.ac.in">send mail</a></p>
    </div>

</div>
<div class="admin-page">
  <div class="sidebar">
    <div class="menu-icon" (click)="toggleSidebar()">☰
    <div class="sidebar-item" (click)="toggleSection('addnewuser')">
      <h3><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" class="bi bi-book-half" viewBox="0 0 16 16">
        <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
      </svg> Manage Blogs</h3>
    </div>
    <div class="sidebar-item" (click)="toggleSection('showUsers')">
      <h3><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
        <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
      </svg> Manage Users</h3>
    </div>
    <div class="sidebar-item" (click)="toggleSection('showAddUser')">
      <h3> <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" class="bi bi-person-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
      </svg> Add new User</h3>
    </div>
    <div class="sidebar-item" (click)="toggleSection('BlogAddshow')">
      <h3><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
        <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
      </svg> Add new Blog</h3>
    </div></div>
  </div>
  
  <div class="content">
    <div *ngIf="sections.showAddUser" class="section" style="    margin-left: 50%;
    color: black;
    background-color: rgb(202 97 11 / 0%);">
      <div id="addUserForm" class="item" style="display: table-caption; background-color: rgb(204 151 151 / 58%); " >
        <div class="text-center" [formGroup]="AdduserForm">
          <h2 class="mt-4">Add new user </h2>
          <mat-form-field appearance="fill" class="example-full-width mt-4 ">
            <mat-label>Enter your Name</mat-label>
            <input matInput placeholder="Eg: Mohammad ali " formControlName="name" required autocomplete="off">
          </mat-form-field>
          <p class="float-start text-danger" style="margin-top: -20;" *ngIf="(AdduserFormControl.name.invalid && AdduserFormControl.name.touched)">Enter a valid Name</p>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Enter your Username</mat-label>
            <input matInput placeholder="Use only numbers and letters" formControlName="username" required autocomplete="off">
          </mat-form-field>
          <p class="float-start text-danger" style="margin-top: -20;" *ngIf="(AdduserFormControl.username.invalid && AdduserFormControl.username.touched)">Enter a valid Username</p>
          <mat-form-field appearance="fill" class="example-full-width mb-3">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-full-width mb-3">
            <mat-label>Confirm your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
            </button>
          </mat-form-field>
          <p class="float-start text-danger" style="margin-top: -20;" *ngIf="AdduserForm.hasError('passwordMismatch')"> Passwords do not match </p>
          <button (click)="AddUser()" type="submit" [disabled]="AdduserForm.invalid" mat-raised-button color="accent">Add User</button>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div *ngIf="sections.BlogAddshow" class="sidebar-sub-item" style="margin-left:50%; margin-top:30px;">
      <div class="item" style="display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 100px 40px;
    border-radius: 10px;
    margin-bottom: 20px; background-color: rgb(133 80 80 / 68%);">
        <h3 style="    white-space: nowrap;">Add New Blog</h3>
        <form [formGroup]="addBlogForm" (ngSubmit)="addBlog(addBlogForm.value)" style="   display: inline-grid;
        color: coral;
        font-size: x-large;">
          <label for="blogTitle">Blog Title:</label>
          <input   type="text" placeholder="Enter the name of your Blog" name="name" formControlName="title" ngModel autocomplete="off" required>
          <!-- <input type="text" id="blogTitle" placeholder="Enter blog title" name="name" formControlName="title" ngModel autocomplete="off" required="" /> -->
          <br>
          <label for="image">Blog Image:</label>
          <input type="file" placeholder="optional" name="image" class="" (change)="onSelectFile($event)" ngModel formControlName="image">
          <br>
          <label for="blogContent">Blog Content:</label>
          <textarea id="blogContent" formControlName="content" name="content" placeholder="type your blog here" ngModel required=""></textarea>
          <br>
          <button class="btn" [disabled]="addBlogForm.invalid">Add</button>
        </form>
      </div>
    </div>
    <div *ngIf="sections.addnewuser" class="sidebar-sub-item" style="margin-left: 70px;
    background-color: #faebd7a1;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;">
      <h2 class="section-title">Manage Blogs</h2>
      <div>
        <table>
          <thead>
            <tr>
              <th>Author</th>
              <th>Title</th>
              <th>Content</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userBlog">
              <td>
                <h6 class="card-text my-3">
                  <fa-icon [icon]="faUser" class="m-2"></fa-icon> {{item.author}}
                </h6>
              </td>
              <td>
                <h5 class="card-text my-3">
                  {{item.name}}
                </h5>
              </td>
              <td>
                <button class="btn  float-end" mat-button (click)="ViewBlog(item.id)"> View Blog</button>
              </td>
              <td>
              <button class="btn btn-outline-danger float-end" (click)="deleteBlog(item.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="sections.showUsers" class="sidebar-sub-item" style="     margin-top: 30px;
    margin-left: 80%;">
      <h2 class="section-title" style="white-space: nowrap; font-size: -webkit-xxx-large;
      padding-left: 7rem;">Manage Users</h2>
      <table style="background: #ba491f85;
      color: floralwhite; font-size: -webkit-xxx-large;">
        <thead>
          <tr>
            <th>Users</th>
            <th>user id</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of users">
            <td>
              <h6 class="card-text my-3">
                <fa-icon [icon]="faUser" class="m-2"></fa-icon> {{item.username}}
              </h6>
            </td>
            <td>
              <h6 class="card-text my-3">
                {{item.id}}
              </h6>
            </td>
            <td>
              <button class="btn btn-outline-danger float-end" (click)="deleteUser(item.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
  </div>
</div>
