
<div class="admin-page">
  <div class="admin-font">
    <h2> admin page </h2>
  </div>
  <div class="sidebar">
      <div class="sidebar-item" (click)="toggleSection('addnewuser')"><h3>Manage Blogs</h3></div>
    <div *ngIf="sections.addnewuser" class="sidebar-sub-item">
     <h2 class="section-title">Manage Blogs</h2>
       <div> 
        <table>
            <thead>
              <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Content</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of userBlog">
                <td><h6 class="card-text my-3">
                    <fa-icon [icon]="faUser" class="m-2"></fa-icon> {{item.author}}
                </h6></td>
                <td><h5 class="card-text my-3">
                   {{item.name}}
                </h5></td>
                <td><button mat-button (click)="ViewBlog(item.id)"> View Blog</button>
          <button class="btn btn-outline-danger float-end" (click)="deleteBlog(item.id)">Delete</button>
           </td>
              </tr>
            </tbody>
          </table>
       </div>
       </div>
        <div class="sidebar-item" (click)="toggleSection('BlogAddshow')"><h3>Add new Blog</h3></div>
        <div *ngIf="sections.BlogAddshow" class="sidebar-sub-item">

       <div class="item">
        <h4>Add New Blog</h4>
        <form [formGroup]="addBlogForm"  (ngSubmit)="addBlog(addBlogForm.value)">
          <label for="blogTitle">Blog Title:</label>
          <input type="text" id="blogTitle" placeholder="Enter blog title" name="name" formControlName="title" ngModel autocomplete="off" required="" />
          <br>
    
          <label for="image">Blog Image:</label>
          <input type="file" placeholder="optional" name="image" class=""
                 (change)="onSelectFile($event)" ngModel formControlName="image">
          <br>
    
          <label for="blogContent">Blog Content:</label>
          <textarea id="blogContent" formControlName="content"  name="content" placeholder="type your blog here" ngModel required=""></textarea>
          <br>
    
          <button class="btn"  [disabled]="addBlogForm.invalid">Add</button>
        </form>
      </div>
    </div>
      <div class="sidebar-item" (click)="toggleSection('showUsers')" ><h3>Manage Users</h3></div>
      <div *ngIf="sections.showUsers" class="sidebar-sub-item">
    <h2 class="section-title">Manage Users</h2>

    <table>
      <thead>
        <tr>
          <th>Users</th>
          <th>userid</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users">
          <td><h6 class="card-text my-3">
              <fa-icon [icon]="faUser" class="m-2"></fa-icon> {{item.username}}
          </h6></td>
          <td><h6 class="card-text my-3">
          {{item.id}}
        </h6></td>
        <td>
        <button class="btn btn-outline-danger float-end" (click)="deleteUser(item.id)">Delete</button>
        </td>    
    </tr>
      </tbody>
    </table>
     </div>
     
      <div class="sidebar-item" (click)="toggleSection('showAddUser')" ><h3>Add new User</h3> </div>
      <div *ngIf="sections.showAddUser" class="section">
      <div id="addUserForm" class="item">
        <div class="text-center" [formGroup]="AdduserForm">
          <h2 class="mt-4">Add new user </h2>
          <mat-form-field appearance="fill" class="example-full-width mt-4 ">
            <mat-label>Enter your Name</mat-label>
            <input matInput placeholder="Eg: Mohammad ali " formControlName="name" required autocomplete="off">
          </mat-form-field>
          <p class="float-start text-danger" style="margin-top: -20;"
            *ngIf="(AdduserFormControl.name.invalid && AdduserFormControl.name.touched)">Enter a valid Name</p>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Enter your Username</mat-label>
            <input matInput placeholder="Use only numbers and letters" formControlName="username" required
              autocomplete="off">
          </mat-form-field>
          <p class="float-start text-danger" style="margin-top: -20;"
            *ngIf="(AdduserFormControl.username.invalid && AdduserFormControl.username.touched)">Enter a valid Username</p>
          <mat-form-field appearance="fill" class="example-full-width mb-3">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-full-width mb-3">
            <mat-label>Confirm your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
            </button>
          </mat-form-field>
          <p class="float-start text-danger" style="margin-top: -20;" *ngIf="AdduserForm.hasError('passwordMismatch')">
            Passwords do not match
          </p>
          <button (click)="AddUser()" type="submit" [disabled]="AdduserForm.invalid" mat-raised-button color="accent">Add User</button><br><br>
      </div>
      </div>
    </div>
</div>
</div>
    
  